.table {
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    border: solid;
}

.one {
    background-color: aquamarine;
    text-align: center;
    border-right: 1px solid;
}

.two {
    background-color: greenyellow;
    text-align: center;
    border-left: 1px solid;
}